.container-header
  background-color: $black-haze

.element-logo-app
  height: 35px
  padding-left: 30px
  padding-top: 30px

.container-primary
  display: block
  margin: 0
  min-height: 100vh
  min-width: 100vw
  background-color: $black-haze

  +flex-media
  +flex-media-center

  .container-secondary
    .container-section
      margin-top: -100px
      width: 440px
      background-color: white

      .section-element-header
        padding-left: 21px
        padding-top: 20px

      .container-sub-text
        width: 400px
        max-width: 100%
        padding-bottom: 20px
        padding-left: 20px
        text-transform: none
        text-align: justify
        padding-top: 20px

      .element-article-img
        padding-top: 10px
        padding-left: 20px
        width: 400px
