.container-header
  background-color: $black-haze

.element-logo-app
  height: 35px
  padding-left: 30px
  padding-top: 30px

.container-primary
  display: block
  margin: 0
  min-height: 100vh
  min-width: 100vw
  background-color: $black-haze

  +flex-media
  +flex-media-center

  .container-secondary
    .container-section
      width: 440px
      background-color: white

      .section-element-header
        color: $victoria

      .container-sub-text
        width: 400px
        text-transform: none
        text-align: justify
        margin-top: -20px

      .element-article-img
        margin-top: -20px
        width: 400px
