.container-header
  background-color: $black-haze

.element-logo-app
  position: fixed
  height: 35px
  padding-left: 30px
  padding-top: 30px

.container-primary
  display: block
  margin: 0
  min-height: 100vh
  min-width: 100vw
  background-color: $black-haze

  +flex-media

  +flex-media-center

  +flex-media-column

  .container-secondary
    margin-top: 100px
    margin-bottom: 100px

    .container-section
      width: 440px
      background-color: white

      .section-element-header
        color: $victoria
        padding-left: 20px
        padding-top: 20px
        padding-bottom: 10px

      .container-sub-text
        width: 400px
        text-transform: none
        text-align: justify
        padding-left: 20px
        padding-bottom: 10px
        padding-top: 20px

      .element-article-img
        width: 400px
        padding-left: 20px

      +container-secondary-button-primary
      +container-secondary-button-secondary
